.App.dark-switch {
    background-color: black;
    color: white;
}

.App.light-switch {
    background-color: white;
    color: black;
}
.App{
    margin-top: 100px;
    display: flex;
    gap: 50px;
    flex-direction: column;
}
.MyBtn{
    margin: auto;
}